.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Use at least full viewport height */
  background-color: #f4f4f9;
}

.container-inner {
  max-width: 800px;
  width: 100%;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}
